@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #eeeeee;
}

#header-title {
  font-family: "Nerko One", cursive;
  font-size: 2.3rem;
}

.bg-gray {
  background-color: #50555a8f;
}

.bg-silver {
  background-color: #f0f0f0;
}

.options {
  color: #eeeeeece;
  cursor: pointer;
}

.options:hover {
  color: #eeeeee;
}
